aiofiles==0.5.0
argon2-cffi==20.1.0
astroid==2.2.5
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blis==0.7.4
catalogue==2.0.3
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.2
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.4
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.7.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoints==0.3
gevent==1.5.0
greenlet==1.0.0
h11==0.8.1
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.15
httplib2==0.18.1
httptools==0.1.1
humanfriendly==8.2
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.0.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
multidict==4.7.6
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.1
notebook==6.3.0
numpy==1.20.2
oauth2client==4.1.3
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pathy==0.4.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
preshed==3.0.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
Pygments==2.8.1
pykwalify==1.7.0
pylint==2.3.1
pymongo==3.8.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz==2021.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
regex==2020.6.8
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.7.2
ruamel.yaml==0.16.12
s3transfer==0.3.3
sanic==19.12.2
Sanic-Cors==0.10.0.post3
Sanic-Plugins-Framework==0.9.3
scipy==1.6.2
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==2.8.2
smart-open==3.0.0
sniffio==1.1.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.1
tabulate==0.8.7
terminado==0.9.4
testpath==0.4.4
textblob==0.15.3
thinc==8.0.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typed-ast==1.4.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
yarl==1.5.1
zipp==3.4.1
