beautifulsoup4>=4.9.3
termcolor>=1.1.0
joblib
scipy>=1.4.1
pandas>=0.25.3,!=1.0.1,!=1.0.0,!=1.0.2,!=1.1.0
matplotlib>=3.2.0
plotly>=4.14.3
cufflinks>=0.17.3
confuse>=1.0.0
jinja2>=2.11.1
numpy>=1.16.0

ipywidgets==7.6.3
# ipykernel>=5.5.3


# Text analysis
scikit-learn>=0.24.1
wordcloud>=1.8.1
textblob>=0.15.3
tangled-up-in-unicode>=0.0.6
Unidecode==1.2.0
unidecode==1.2.0

# Examples
requests>=2.24.0

# Progress bar
# tqdm>=4.48.2
seaborn>=0.10.1

spacy>=3.0.0,<4.0.0
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm